In [2]:
import pandas as pd

station_code_df = pd.read_csv("/home/james/programming/SDG_11.2.1-1/data/stop_codes.csv",
                           usecols=["station_name", "station_code"])

In [3]:
station_code_df.head()

  station_name station_code
0   Abbey Wood          ABW
1         Aber          ABE
2    Abercynon          ACY
3     Aberdare          ABA
4     Aberdeen          ABD

In [4]:
station_locs_df = pd.read_json("https://raw.githubusercontent.com/jwestw/UK-Train-Station-Locations/master/uk-train-stations.json")

In [5]:
station_locs_df.rename(columns={"3alpha": "station_code"}, inplace=True)

In [6]:
station_code_df.station_code.nunique()

2579

In [7]:
station_locs_df.station_code.nunique()

2595

In [8]:
len(set(station_locs_df.station_code))

2595

In [9]:
len(set(station_code_df.station_code))

2580

In [10]:
in_locs_not_in_codes = set(station_locs_df.station_code) - set(station_code_df.station_code)
len(in_locs_not_in_codes)

# There are 34 different entries in the two datasets, not too bad

34

In [11]:
in_codes_not_in_locs = set(station_code_df.station_code) - set(station_locs_df.station_code)
len(in_codes_not_in_locs)

# There are 19 in Station Codes but not in the locations

19

In [12]:
# Subset the station locs df to get those wh
mask = station_locs_df.station_code.isin(in_locs_not_in_codes)
not_in_codes_df = station_locs_df[mask]
not_in_codes_df.dropna(inplace=True, how="any")

/home/james/anaconda3/envs/SDG_11.2.1/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [13]:
# Subset the station codes df to get those which are not in the locations data
mask = station_code_df.station_code.isin(in_codes_not_in_locs)
not_in_loc_df = station_code_df[mask]
not_in_loc_df.dropna(inplace=True, how="any")

In [14]:
not_in_loc_df

                               station_name station_code
98         Ashford International (Eurostar)          ASI
145                                Barbican          ZBB
579                            Corfe Castle          CFC
728                        Dublin Ferryport          DFP
729                     Dublin Port - Stena          DPS
800         Elephant & Castle (Underground)          ZEL
1110  Heathrow Airport Terminals 1, 2 and 3          HXX
1143     High Street Kensington Underground          ZHS
1179                                 Horden          HRE
1458               London St Pancras (Intl)          SPX
1500                          Maghull North          MNS
1557                         Meridian Water          MRW
1945                         Oxford Parkway          OXP
1994                              Penychain          PNC
2133                             Robroyston          RRN
3169                        Warrington West          WAW
3248                            Whitechapel          ZLW
3320                 Worcestershire Parkway          WOP

In [15]:
not_in_codes_df

,station_code,station_name,latitude,longitude
33,AGR,Angel Road Rail Station,51.612405,-0.048766
77,APN,Newcastle Airport Metro,55.035954,-1.711061
222,BIB,Bishop's Lydeard,51.054580,-3.194340
296,BNR,Brockley Whins Rail Station,54.959550,-1.461367
314,BPC,Penychain Rail Station,52.902898,-4.338730
767,EBL,East Boldon Rail Station,54.946421,-1.420328
902,FRR,Frosterley Rail Station,54.727001,-1.964421
928,GCL,Glasgow Central Low Level Rail Station,55.858674,-4.258477
988,GQL,Glasgow Queen Street Low Level Rail Station,55.862340,-4.250636
1091,HII,Highbury & Islington Rail Station,51.546088,-0.103741
1187,HTR,Heathrow Airport Central Bus Stn (Rail-Air),51.471094,-0.453286
1203,HWF,Heathrow Terminal 4 (Rail-Air),51.459329,-0.446947
1210,HWX,Heathrow Airport Terminal 5,51.471250,-0.489350
1398,LHR,Heathrow Terminals 1-3 Rail Station,51.471405,-0.454313
1403,LIF,Lichfield Trent Valley High Level Rail Station,52.686909,-1.800237
1478,LVL,Liverpool Lime Street Low Level Rail Station,53.408222,-2.977747
1534,MFD,Minffordd Ffestiniog Railway Station,52.925889,-4.084216
1690,NTB,Norton Bridge Rail Station,52.866713,-2.190542
1728,OPY,Oxford Parkway Rail Station,51.804076,-1.274468
1795,PMG,Porthmadog Harbour Ffestiniog Railway Station,52.924054,-4.126825
1887,RBU,Reading Rail Station,51.458146,-0.971641
1909,REL,Retford Low Level Rail Station,53.314085,-0.944773
2027,SEB,Seaburn Rail Station,54.929542,-1.386707
2070,SHV,Southsea Hoverport,50.785316,-1.099977
2130,SNP,Stanhope Rail Station,54.743317,-2.003270
2161,SPL,London St Pancras International LL Rail Station,51.532168,-0.127317
2207,STQ,Southampton Town Quay,50.895142,-1.405822
2215,STZ,St Peters Rail Station,54.911447,-1.383816
2259,TAH,Tamworth High Level Rail Station,52.637490,-1.686443
2345,TYB,Tan-y-Bwlch Ffestiniog Railway Station,52.954385,-4.011522
2470,WLH,Wolsingham Rail Station,54.726322,-1.883528
2590,ZBU,Southease - Piddinghoe Road,50.829619,0.017846
2593,ZWL,Whitechapel Rail Station,51.519469,-0.059731
2594,ZZT,Lintley Rail Station,54.853558,-2.488317

In [16]:
not_in_codes_df.to_csv("locations_not_in_codes.csv")

In [17]:
not_in_loc_df.to_csv("stations_not_in_locations.csv")

In [22]:
station_code_df.station_code.str.contains("AGR").any()

False

In [28]:
station_code_df.dropna()[station_code_df.station_name.str.contains("Glasgow").dropna()]

                     station_name station_code
484       Charing Cross (Glasgow)          CHC
835   Exhibition Centre (Glasgow)          EXG
947               Glasgow Central          GLC
948          Glasgow Queen Street          GLQ
1142        High Street (Glasgow)          HST
2039                 Port Glasgow          PTG
2077        Queens Park (Glasgow)          QPK

In [71]:
station_locs_df.dropna()[station_locs_df.station_name.str.contains("Heathrow").dropna()]

,station_code,station_name,latitude,longitude
1027,HAF,Heathrow Terminal 4 Rail Station,51.458266,-0.445443
1187,HTR,Heathrow Airport Central Bus Stn (Rail-Air),51.471094,-0.453286
1203,HWF,Heathrow Terminal 4 (Rail-Air),51.459329,-0.446947
1208,HWV,Heathrow Terminal 5 Rail Station,51.470052,-0.490570
1210,HWX,Heathrow Airport Terminal 5,51.471250,-0.489350
1398,LHR,Heathrow Terminals 1-3 Rail Station,51.471405,-0.454313

In [69]:
station_code_df.dropna()[station_code_df.station_code.isin(["SPL"]).dropna()]

/tmp/ipykernel_901235/1628482207.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  station_code_df.dropna()[station_code_df.station_code.isin(["SPL"]).dropna()]

Empty DataFrame
Columns: [station_name, station_code]
Index: []

In [78]:
corrections_to_codes = pd.read_csv("corrections_stations_not_in_locs.csv")

In [79]:
corrections_to_codes.notes.unique()

array(['delete from codes', 'Ferry', 'replace in locs', 'added to locs',
       'changed code in locs', 'code changed in locs', 'added from locs'],
      dtype=object)

In [80]:
corrections_to_locs = pd.read_csv("corrections_locations_not_in_codes.csv")

In [82]:
corrections_to_locs.action.unique()

array(['delete from locs', 'added to codes', 'changed code',
       'added to locs', 'replace in locs'], dtype=object)

In [87]:
# Delete erroneous stations from locations
stations_to_be_deleted = corrections_to_locs.action == 'delete from locs'
station_codes_to_be_deleted = corrections_to_locs.station_code[stations_to_be_deleted]

In [95]:
# Get index of records to be deleted in station locations
locs_to_delete = station_locs_df.where(station_locs_df.station_code.isin(station_codes_to_be_deleted))
locs_to_delete.dropna(inplace=True)
index_to_delete = locs_to_delete.index

In [97]:
# delete those records
station_locs_df.drop(index_to_delete, inplace=True)