In [5]:
import pandas as pd

stop_code_df = pd.read_csv("/home/james/programming/SDG_11.2.1-1/data/stop_codes.csv",
                           usecols=["station_name", "station_code"])

In [6]:
stop_code_df.head()

  station_name station_code
0   Abbey Wood          ABW
1         Aber          ABE
2    Abercynon          ACY
3     Aberdare          ABA
4     Aberdeen          ABD

In [9]:
pd.read_json("https://raw.githubusercontent.com/jwestw/UK-Train-Station-Locations/master/uk-train-stations.json")

     3alpha                      station_name   latitude  longitude
0       AAP     Alexandra Palace Rail Station  51.597925  -0.120210
1       AAT             Achanalt Rail Station  57.609576  -4.913846
2       ABA             Aberdare Rail Station  51.715060  -3.443095
3       ABC           Altnabreac Rail Station  58.388133  -3.706287
4       ABD             Aberdeen Rail Station  57.143687  -2.098693
...     ...                               ...        ...        ...
2590    ZBU       Southease - Piddinghoe Road  50.829619   0.017846
2591    ZCW         Canada Water Rail Station  51.497989  -0.049694
2592    ZFD  Farringdon (London) Rail Station  51.520167  -0.105179
2593    ZWL          Whitechapel Rail Station  51.519469  -0.059731
2594    ZZT              Lintley Rail Station  54.853558  -2.488317

[2595 rows x 4 columns]